{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "qouteProps": "consistent",
    "semi": true,
    "experimentalTernaries": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "quoteProps": "consistent",
    "trailingComma": "es5",
    "singleAttributePerLine": true,
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": true,
    "embeddedLanguageFormatting": "auto"
}
